$primary:'deep-purple';
$accent:'teal';
$warn:'orange';
@import 'ember-paper';

.strip-padding {
    padding-left:0; 
    padding-right:0;
}

.strip-padding-tb {
    padding-top:0; 
    padding-bottom:0;
}

.to-master-panel {
    background-color:#333; 
    height:calc(100vh - 64px); 
    padding-left:0; 
    padding-right:0;
}

.transport {
    background-color:#111; 
    height:60px; 
    padding-left:0; 
    padding-right:0;
    z-index:5;
    position: fixed;
    bottom:0;
    width:76.38888861%;
    
    button {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.tracks {
    background-color:#AAA;
    height:calc(100vh - 64px); 
    padding: .9375rem;
    z-index: -2;
    overflow: auto;
    padding-bottom:90px;
}

.track-divider {
    margin-top: 15px;
}

.chat {
    .messages {
        position:fixed;
        height:100%;
        overflow: scroll;
        margin-bottom:0px;
        width: inherit;
        
        .message-body {
            background-color: #A5CBC3;
            color: #444;
            box-shadow: 0 1px 2px rgba(black, 0.2);
            padding: 2px 8px;
            display: inline-block;
        }
        
        .message-sender {
            margin-top: 3px;
            margin-bottom: 15px;
            font-size: .75em;
        }
    } 
    
    .md-input {
        margin-bottom: 0;
    }
    
    md-input-container {
        padding-bottom:0;
    }
    
    .send-button {
        margin: 20px 0;
        width: 100%;
    }    
    
    position: relative;
    background-color:white; 
    height:calc(100vh - 64px); 
    padding-left:12px; 
    padding-right:12px;
}

.startChat {
  display: block;
  position: absolute;
  width:75%;
  margin: 0 auto;
  left:0;
  right:0;
  top:92%;
}

.track {
    width:auto;
    white-space:nowrap;
    font-size: 0;
    padding:0;
    margin:0;
}

.space {
    background-color:#888;
    width: 200px;
    height: 128px;
    display:inline-block;
}

.track-parent {
}

.sound-obj {
    display: inline-block; 
    width:50%;
    *display: inline;
    background-color: #FFF;
}

.empty-track {
    height:128px;
}

.mute-solo {
    position: fixed;
}

.mute-solo-space {
    height:60px;
    width:auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12)
}

.ground {
    z-index:0;
}
