$primary:'deep-purple';
$accent:'teal';
$warn:'orange';
@import 'ember-paper';

.strip-padding {
    padding-left:0; 
    padding-right:0;
}
.to-master-panel {
    background-color:#333; 
    height:calc(100vh - 64px); 
    padding-left:0; 
    padding-right:0;
}

.transport {
    background-color:#111; 
    color:#888;
    height:10vh; 
    padding-left:0; 
    padding-right:0;
}

.tracks {
    background-color:#AAA;
    height:calc(90vh - 64px); 
    padding: .9375rem;
    z-index: -1;
    overflow: auto;
}

.chat {
    position: relative;
    background-color:#BBB; 
    height:calc(100vh - 64px); 
    padding-left:0; 
    padding-right:0;
}

.startChat {
  display: block;
  position: absolute;
  width:75%;
  margin: 0 auto;
  left:0;
  right:0;
  top:92%;
}