<div class="columns small-1 left strip-padding" style="" data-sticky-container>
  <div class="sticky" data-sticky>
      <div class="to-master-panel">to master</div>
  </div>
</div>

{{outlet}}

<!--<div class="columns small-9 left tracks" data-sticky-container>
  <div class="sticky" data-sticky>
  </div>
</div>-->

<div class="columns small-9 left strip-padding" data-sticky-container>
  <div class="sticky" data-sticky>
      <div class="tracks">tracks</div>
      <div class="transport">transport</div>
  </div>
</div>

<div class="columns small-2 right strip-padding" data-sticky-container>
  <div class="sticky" data-sticky>
      <div class="chat">chat</div>
  </div>
</div>