{{#paper-toolbar}}
  <div class="md-toolbar-tools">
      <div class="logo">
          {{#link-to "index"}}CoDaw{{/link-to}}
      </div>
  </div>
{{/paper-toolbar}}

<div class="small-10 columns strip-padding">
    <div class="columns small-1 left strip-padding" style="" data-sticky-container>
        <div class="sticky" data-sticky>
            <div class="to-master-panel">to master</div>
        </div>
    </div>
    
    <div class="columns small-11 left strip-padding" data-sticky-container>
        <div class="sticky" data-sticky>
            <div class="tracks tracks-box">
                {{#paper-content class="md-whiteframe-z1 list-demo"}}
                    {{#paper-list class="strip-padding-tb"}}
                        <div class="track-parent">
                            {{#each model as |track|}}
                                {{#paper-item class="md-3-line"}}
                                    <div class="md-list-item-text">
                                        {{#audio-track}}
                                            {{#each track.sounds as |sound index|}}
                                                {{sound-obj id=(sound-obj-id track.id index) class="sound-obj" fname='../assets/telephone.wav'}}
                                                <div class="space">
                                                </div>
                                            {{else}}
                                                <div class="empty-track"></div>
                                            {{/each}}
                                        {{/audio-track}}
                                    </div>
                                {{/paper-item}}
                                <div class="mute-solo">
                                    {{#paper-button icon-button=true raised=true class="ground"}}
                                        {{paper-icon icon="volume-off"}}
                                    {{/paper-button}}
                                    {{#paper-button icon-button=true raised=true class="ground"}}
                                        {{paper-icon icon="headset"}}
                                    {{/paper-button}}
                                </div>
                                <div class="mute-solo-space">
                                </div>
                            {{/each}}
                        </div>
                    {{/paper-list}}
                {{/paper-content}}  
            </div>
            <div class="transport"><span>transport</span></div>
        </div>
    </div>
</div>

<div class="columns small-2 right strip-padding" data-sticky-container>
  <div class="sticky" data-sticky>
      <div class="chat">
        {{#paper-button class="startChat" raised=true primary=true}}Join Chat{{/paper-button}}
      </div>
  </div>
</div>