{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-button}}Example button{{/paper-button}}
    {{#paper-button}}Example button{{/paper-button}}
  </div>
{{/paper-toolbar}}

<div class="small-10 columns strip-padding">
    <div class="columns small-1 left strip-padding" style="" data-sticky-container>
        <div class="sticky" data-sticky>
            <div class="to-master-panel">to master</div>
        </div>
    </div>
    
    <div class="columns small-11 left strip-padding" data-sticky-container>
        <div class="sticky" data-sticky>
            <div class="tracks tracks-box">
                {{#paper-content class="md-whiteframe-z1 list-demo"}}
                    {{#paper-list}}
                        {{#each model as |item index|}}
                            {{#paper-item class="md-3-line"}}
                                <div class="md-list-item-text">
                                    {{sound-obj id=(track-id index) fname='../assets/telephone.wav'}}
                                </div>
                            {{/paper-item}}
                            {{paper-divider inset=true}}
                        {{/each}}
                    {{/paper-list}}
                {{/paper-content}}  
            </div>
            <div class="transport"><span>transport</span></div>
        </div>
    </div>
</div>

<div class="columns small-2 right strip-padding" data-sticky-container>
  <div class="sticky" data-sticky>
      <div class="chat">
        {{#paper-button class="startChat" raised=true primary=true}}Join Chat{{/paper-button}}
      </div>
  </div>
</div>