{{paper-input label="Username" value=username}}
{{paper-input label="Message Body" value=body }}
{{#paper-button class="send-button" raised=true action="sendMessage" primary=true}}
  Send
{{/paper-button}}

<div class="messages">
    {{#each reverseMessages as |message|}}
        <!--<div class="prebox"></div>-->
      {{#message-body class="message-body"}}{{message.body}}{{/message-body}}
        <div class="message-sender">{{message.username}}</div>
    {{/each}}
</div>
